.mainWrapper {
  padding: 2rem;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  
}

.verticalFlexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}